<form style="width: 80%; padding: 5%">
        
<div class="row">
        <div class="input-field col s12">
          <input id="id" name="id" type="text" class="validate">
          <label for="id">ID</label>
        </div>
</div>
<div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
</div>
<div class="row">
        <div class="input-field col s12">
          <input id="shortcode" type="text" name="shortcode" class="validate">
          <label for="shortcode">Shortcode</label>
        </div>
</div>

<a class="waves-effect waves-light submit btn" onclick="sendForm()">Send</a>

</form>
